$blue: #00acdc;
$white: #fff;
$main-accent: #060b35;
$secondary: #616070;
$blue-accent: #00acdc;
$button-hover: #34568b;
$columnCount: 1;
$card-width: 200px;
$site-padding-horizontal: 50px;
$star-size: 16px;
$star-gap: 4px;
